.github/**
.trunk/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
docs/**
node_modules/**
out/**
src/**

.gitignore
.prettierrc
cspell.json
esbuild.js
eslint.config.mjs
osv-scanner.toml
tsconfig.json
vsc-extension-quickstart.md

**/*.map
**/*.ts
